body {
    display: flex;
    justify-content: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.title {
    text-align: center;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
}

.list {
    color: #668ad8;
    border: double 5px rgb(37 99 235);
    background: #f1f8ff;
    padding: 0.5em 0.5em 0.5em 2em;
    width: auto;
}

.list_content {
    font-size: larger;
    margin: 10px;
    line-height: 1.5;
    padding: 0.5em 0;
    margin: 10px;
}

.admin__logout {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    border: none;
    margin-top: 10px;
}