.image {
    width: 100%;
    min-height: 112px;
    object-fit: cover;
    border-radius: 0.375rem;
}

.shop_list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-title_inner:first-child {
    border-radius: 5px 0 0 0;
}

.table-title_inner:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

.table-title_inner{
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc, #225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 15%;
    padding: 10px 0;
}

.table-inner{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 10px 0;
    vertical-align: middle;
}

.table-inner:last-child {
    border-right: 1px solid #a8b7c5;
}

.shop_list:last-child .table-inner:first-child {
    border-radius: 0 0 0 5px;
}

.table-low:last-child .table-inner:last-child {
    border-radius: 0 0 5px 0;
}

.button_layout {
    display: flex;
    justify-content: space-evenly;
}

.return {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    top: 10px;
    margin-left: 5px;
}

.button {
    background-color: rgb(37 99 235);
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    font-weight: 500;
    /* width: 100%; */
    border: none;
    margin-left: 5px;
}

.title {
    font-size: x-large;
    text-align: center;
    padding: 5px;
    margin: 5px;
}
