body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #f5f5f5;
}

.header {
    background: white;
    width: 100%;
}

.header__inner {
    /* margin: 0 auto; */
    padding: 20px 15px;
    max-width: 1230px;
}

r .header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 24px;
    padding-left: 25px;
}

/* .header-utilities nav {
    width: 18%;
} */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: black;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: white;
    height: 6vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    font-size: 15px;
    font-weight: bold;
}