.card_contents {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    width: 170vh;
}

.card_contents_inner_1 {
    width: 40vh;
    background-color:white;
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 20px;
}
.image {
    width: 100%;
    min-height: 23px;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.shop_name {
    padding: 1rem;
}

.shop_name1 {
    font-weight: bold;
    font-size: larger;
}
.shop_name2 {
    font-size: 0.75rem;
    line-height: 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
    top: 5px;
}
.card_contents_inner_2 {
    flex: content;
    justify-content:space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.detail {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    /* top: 10px; */
}
/* <a class="text-xs h-6 rounded-md bg-blue-600 text-white px-3 pt-1" href="{{ url('/detail/'.$shop['id']) }}">詳しくみる</a> */



.favorite_button {
    font-size: 3.5rem;
    line-height: 2rem;
    position: relative;
    left: 255px;
    bottom: 15px;
    border: none;
    background: transparent;
    /* 赤と灰色を入れ替えられるようにする */
}
.color_red {
    color: red;
}

.color_gray {
    color: gray;
}

main {
    /* background-color: #D3D3D3; */
    /* padding: 77px 0; */
    padding-top: 20px;
    background-color: #f5f5f5;
    margin-left: 10px;
    margin-right: 10px;

}

.main__title {
    font-weight: bold;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.main__attendance {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 30px;
}

.timestamp button {
    padding: 75px 165px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    border: none;
    background-color: white;
}

/* button {
    padding: 65px 180px;
    font-size: 20px;
    background-color: white;
} */

.attendance__left {
    margin-right: 40px;
}

.search_content {
    justify-content: center;
    margin-right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
    position: relative;
    top: 24px;
    left: 15%;
    width: 440px;
    }

/* form-row justify-content-center */
/* col-md-4 mb-3 */
/* custom-select mr-sm-2 */
/* .search_content2 {
    position: relative;
}

.search_content2:before {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    margin: auto;
    border-top: 20px solid #fff;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    width: 100px;
    z-index: 1;
}

.search_content2:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    left: 0;
    margin: auto;
    border-top: 40px solid #ff7777;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    width: 100px;
    z-index: 0;
} */



.search_content_area {
    width: 90px;
    height: 40px;
    border-style: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}


.search_content_genre {
    width: 90px;
    height: 40px;
    border-style: none;
    box-shadow: -6px 10px 10px -10px rgba(0, 0, 0, 0.3);
    border-left: solid rgb(211, 211, 211);
}






.search_box {
    display: inline-block;
    /* なくても大丈夫だけど、念の為 */
    position: relative;
    /* 基準値とする */
    width: 260px;
    height: 40px;
    border-style: none;
    border-left: solid rgb(211, 211, 211);
}

.search_box::before {
    content: "";
    /* 疑似要素に必須 */
    width: 16px;
    /* アイコンの横幅 */
    height: 16px;
    /* アイコンの高さ */
    background: url(../img/icon.jpeg) no-repeat center center / auto 100%;
    background-size: cover;
    /* 背景にアイコン画像を配置 */
    display: inline-block;
    /* 高さを持たせるためにインラインブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
    top: 12px;
    /* アイコンの位置。微調整してね */
    left: 5px;
    /* アイコンの位置。微調整してね */
}

.search_box input {
    padding: 3px 0 3px 2em;
    /* アイコンを設置するため左の余白を多めに指定*/
    width: 260px;
    height: 40px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -6px 10px 10px -10px rgba(0, 0, 0, 0.3);
}

.heart {
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
    display: inline-block;
    /* 高さを持たせるためにインラインブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
    top: 84%;
    /* アイコンの位置。微調整してね */
    right: 5%;
    /* アイコンの位置。微調整してね */
    width: 14%;
}

/* @media screen and (max-width: 767.9px) {
    .card_contents_inner_1 {
        width: 35vh;
    }
} */



@media screen and (max-width: 767.9px) {
    .card_contents {
        width: 85vh;
        margin-left: 20px;
    }

    .search_content {
        /* position: relative; */
        width: 220px;
        /* left: 172%; */
        /* /* right: 56%; */
    }

    /* .header__title {
        display: none;
    } */

    .search_box input {
        width: 180px;
    }

    .header {
        width: 50%;
    }
}

body {
    margin: 10px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media screen and (max-width: 665px) {
    .card_content {
        width: 60vh;
        margin-left: 20px;
    }
    .header__title {
        display: none;
    }
        .search_content {
            /* position: relative; */
            width: 80px;
            /* left: 172%; */
            /* /* right: 56%; */
        }
}

.header__hamburger_for_index {
    width: 46px;
    height: 150%;
    background-color: rgb(37 99 235);
    /* filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)); */
    color: rgb(107 114 128);
    border-radius: 0.375rem;
    box-shadow: 2px 2px 4px;
    /* padding: 9%; */
    /* margin: 6%; */
    position: relative;
    top: -6px;
}

.hamburger {
    /* background-color: transparent; */
    border-color: transparent;
    z-index: 9999;
}
.logo_hamburger {
    display: flex;
}

.header__inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: inherit;
    position: relative;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 85vh;
}

.header {
    background-color: transparent;
    width: 100%;
    height: 50px;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-bottom: 10px;
    padding-top: 10px;
    /* margin-left: 4%; */
    margin-right: 4%;
}