body {
    background-color: #f5f5f5;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top: 30px;
    background-color: #f5f5f5;
}

.form__group {
    font-size: large;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.form__input--text_mail {
    box-sizing: border-box;
    position: relative;
}

.login__content {
    color: #ff0000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 320px;
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
    border: 0px solid transparent;
    background-color:#FFFFFF;
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-top: 90px;
}

.login_font {
    font-size: smaller;
    font-weight: normal;
    padding-left: 9px;
}

.button-login {
    background-color: rgb(37 99 235);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-weight: 500;
    width: 93%;
    border: none;
}

.link-register {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}

.link-register a {
    color: blue;
    text-decoration: none;
}

.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login-form__heading {
    margin-bottom: 9px;
    text-align: left;
    background-color: rgb(37 99 235);
    color: white;
    line-height: 70px;
    padding-left: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    font-size: small;
    font-weight: 100;
}

.form__input--text_mail input {
   padding: 1px;
    width: 74%;
    height: 20px;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid #696969;
    margin-left: 23px;
    margin-top: 18px;
}

.form__input--text_password {
    position: relative;
}

.form__input--text_password input {
    width: 74%;
    height: 20px;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid #696969;
    margin-left: 23px;
}

.form__button {
    margin-top: 5px;
    width: 10vw;
    position: relative;
    left:67%;
    padding-bottom: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: rgb(37 99 235);
    color: #fff;
    cursor: pointer;
}

.register__link {
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: small;
    color: #808080;
}

.register__link p {
    padding-bottom: 5px;
}

.form__input--text_mail::before {
    content: "";
    width: 20%;
    height: 55%;
    background: url(../img/mail.jpeg) no-repeat center center / auto 90%;
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 0%;
}

.form__input--text_password::before {
    content: "";
    width: 10%;
    height: 100%;
    background: url(../img/key.jpeg) no-repeat center center / auto 90%;
    display: inline-block;
    position: absolute;
    left: 5%;
}

/* レスポンシブ (768px以上)*/
@media screen and (max-width: 767.9px) {
    .login__content {
        width: 45vh;
    }
    .button-login {
        width: 365%;
    }
    .form__button {
        position: relative;
        left: 32px;
    }
}