.main {
    max-width: 80rem;
    /* 1280px */
    scroll-padding-left: 1rem;
    /* 16px */
    scroll-padding-right: 1rem;
    /* 16px */
    padding-left: 2rem;
    /* 32px */
    padding-right: 2rem;
    /* 32px */
}

/* max-w-7xl mx-auto px-4 lg:px-8 */

.name {
    font-size: 2.0rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.reservation_number {
    padding: 10px;
    font-size: medium;
    margin-left: 21px;
}

.main_page {
    margin: 20px;
}
.reserve_page {
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    /* width: 41.666667%; */
}

/* w-full md:flex md:justify-between
md:w-5/12 */

.reservation_card {
    scroll-margin-left: 0.75rem;
    /* 12px */

}

.reservation_card_index {
    scroll-padding-left: 2rem;
    padding: 10px;
}

.reservation_card_inner {
    scroll-padding-left: 2rem;
    /* 32px */
}

.card_contents_inner_1 {
    width: 52vh;
    background-color: #136FFF;
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 16px;
}

.card_content {
    width: 52vh;
    /* background-color: #136FFF; */
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 16px;
}

.card_contents_inner_2 {
    padding-bottom: 50px;
    padding-top: 17px;
}



.card_contents_inner_3 {
    align-items: center;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}



.reservation_id {
    background-color: rgb(29 78 216);
    color: white;
    margin-bottom: 40px;
    border-radius: 0.375rem;
    margin-left: 10px;
}

/* bg-blue-700 text-white disabled:text-blue-500 w-full py-2 rounded-b absolute bottom-0 left-0 */
.favorite_page {
    width: 50%;
}

.favorite_situation {
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    /* margin-left: 126px; */

}

/* flex justify-between flex-wrap */

.favorite_page_inner {
    width: 17rem;
    /* 224px */
    background-color: rgb(255 255 255);
    border-radius: 0.375rem;
    /* 6px */
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 1.5rem;
    /* 16px */
    height: 18rem;
    margin-top: 30px;
    margin-right: 20px;
   margin-top: 1rem;
}

/* w-56 bg-white rounded-md shadow-md mb-4 */

.image {
    width: 100%;
    min-height: 160px;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    height: 20%;
}

.shop_name1 {
    font-weight: bold;
    font-size: larger;
}

.shop_name2 {
    font-size: 0.75rem;
    line-height: 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
    top: 5px;
}


.detail {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
}


.favorite_button {
    font-size: 3.5rem;
    line-height: 2rem;
    position: relative;
    left: 165px;
    bottom: 15px;
    border: none;
    background: transparent;
}

.color_red {
    color: red;
}

.color_gray {
    color: gray;
}

.favorite_shop {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    scroll-margin-bottom: 0.5rem;
    /* 8px */
    scroll-margin-top: 1rem;
    /* 16px */
    padding-left: 16%;

}

.reserve_situation {
    font-size: 1.2rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    scroll-margin-bottom: 0.5rem;
    /* 8px */
    scroll-margin-top: 1rem;
    /* 16px */
    padding: 7px;

}

/* モーダル開始 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .6;
    display: none;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}



.modal {
    width: 65%;
    height: 80%;
    border: 1px solid #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: none;
}

.modal p {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 14px;
}

.modal-close__wrap {
    position: absolute;
    right: 40px;
    top: 20px;
}

.modal-close {
    background: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 28px;
    display: block;
    height: 28px;
    font-size: xxx-large;
}

.modal-close span {
    position: relative;
    width: 100%;
    height: 1px;
    background: black;
    display: block;
}

.modal-close span:nth-child(1) {
    transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
    transform: rotate(-45deg);
}

.modal-open {
    cursor: pointer;
    background: orange;
    border: orange;
    color: #fff;
    padding: 10px 12px;
    border-radius: 0.375rem;
    box-shadow: 2px 2px 4px gray;
}


.overlay.open {
    display: block;
}

.modal.open {
    display: block;
    z-index: 100;
    height: 45%;
}

.title {
    padding-right: 50px;
    font-size: x-large;
}

.modal_shop_name {
    font-size: larger;
}

.date time_low {
    display: flex;
    justify-content: space-evenly;
}

.time_low {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.number_low {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.cancel_button {
    font-size: xx-large;
    line-height: 1.0rem;
    min-height: 2rem;
    border-radius: 1.7rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    /* padding-left: 0.75rem; */
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    /* left: 10px; */
    border: 2px solid rgb(255 255 255);
    width: 1.5rem;
}

.button_css {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 20px;
}

.change_button {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    /* border: 2px solid rgb(255 255 255); */

}

.date {
    display: flex;
    margin-top: 5px;
    margin-right: 7px;
}


.reserve_content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


.drop_time {
    height: 100%;
}

.drop_number {
    height: 100%;
}

/* モーダル終了 */

.main_contents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.qr_code_button {
    width: 40px;
    height: 40px;
    border-radius: 0.9rem;
    border: none;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
}

.qr_code_button::after {
    content: "";
    /* 疑似要素に必須 */
    width: 20px;
    /* アイコンの横幅 */
    height: 20px;
    /* アイコンの高さ */
    background: url(../img/QRcode.png) no-repeat center center / auto 100%;
    background-size: cover;
    /* 背景にアイコン画像を配置 */
    display: inline-block;
    /* 高さを持たせるためにインラインブロック要素にする */
    /* position: absolute; */
    /* 相対位置に指定 */
    /* top: 110px; */
    /* アイコンの位置。微調整してね */
    /* right: 136px; */
    /* アイコンの位置。微調整してね */
}

.payment_button {
    width: 40px;
    height: 40px;
    border-radius: 0.9rem;
    border: none;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
}


.payment_button::after {
    content: "";
    /* 疑似要素に必須 */
    width: 34px;
    /* アイコンの横幅 */
    height: 20px;
    /* アイコンの高さ */
    background: url(../img/payment.png) no-repeat center center / auto 100%;
    background-size: cover;
    /* 背景にアイコン画像を配置 */
    display: inline-block;
    /* 高さを持たせるためにインラインブロック要素にする */
    /* position: absolute; */
    /* 相対位置に指定 */
    /* top: 105px; */
    /* アイコンの位置。微調整してね */
    /* right: 93px; */
    /* アイコンの位置。微調整してね */
}

.reservation_number::before {
    content: "";
    /* 疑似要素に必須 */
    width: 34%;
    /* アイコンの横幅 */
    height: 2%;
    /* アイコンの高さ */
    background: url(../img/time.png) no-repeat center center / auto 90%;
    /* 背景にアイコン画像を配置 */
    display: inline-block;
    /* 高さを持たせるためにインラインブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
    /* top: 45%; */
    /* アイコンの位置。微調整してね */
    /* left: -4%; */
    /* アイコンの位置。微調整してね */
}

.heart {
    /* 背景色を無色に */
    background: transparent;
    /* 枠線を消す */
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
    display: inline-block;
    /* 高さを持たせるためにインラインブロック要素にする */
    position: absolute;
    /* 相対位置に指定 */
    top: 79%;
    /* アイコンの位置。微調整してね */
    right: 9%;
    /* アイコンの位置。微調整してね */
    width: 14%;
}

.heart_image {
width: 135%;
    min-height: 35px;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.shop_name {
    padding: 22px;
}


/* レスポンシブ (768px以上)*/
@media screen and (max-width: 767.9px) {

    .main_contents {
        width: 50%;
        flex-direction: column;
    }
        .favorite_page {
            width: 100%;
        }

    .favorite_situation {
        margin-left: 0%;
    }


    /* .reserve_page {
        width: 50%;
    }

   .card_content {
       width: 25%;
    }
 .favorite_page {
width: 25%;
} */
}