main {
    max-width: 80rem;
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.name {
    font-size: 2.0rem;
    line-height: 1.75rem;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

.reservation_number {
    padding: 13px;
    font-size: medium;
    margin-left: 56px;
    font-weight: normal;
    color: white;
    position: relative;
    padding-left: 26px;
}

.main_page {
    margin: 20px;
}
.reserve_page {
    width: 50%;
    display: flex;
    justify-content:space-evenly;
}


.reservation_card {
    scroll-margin-left: 0.75rem;
    color: white;
    margin: 23px;

}

.reservation_card_index {
    scroll-padding-left: 2rem;
    padding: 10px;
}

.reservation_card_inner {
    scroll-padding-left: 2rem;
    padding-left: 20px;
}


.card_content {
    width: 62vh;
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 16px;
}

.card_contents_inner_2 {
    padding-bottom: 4px;
    padding-top: 17px;
    background-color: rgb(37 99 235);
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 20px;
}



.card_contents_inner_3 {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.card_contents_inner_4 {
    padding-top: 17px;
}

.reservation_id {
    background-color: rgb(29 78 216);
    color: white;
    margin-bottom: 40px;
    border-radius: 0.375rem;
    margin-left: 10px;
}

.favorite_page {
    width: 50%;
}

.favorite_situation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.favorite_page_inner {
    width: 18rem;
    background-color: rgb(255 255 255);
    border-radius: 0.375rem;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 1.5rem;
    height: 18rem;
    margin-right: 10px;
    margin-top: 1rem;
}


.image {
    width: 100%;
    min-height: 160px;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    height: 20%;
}

.shop_name1 {
    font-weight: bold;
    font-size: larger;
}

.shop_name2 {
    font-size: 0.75rem;
    line-height: 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
    top: 5px;
}


.detail {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
}


.favorite_button {
    font-size: 3.5rem;
    line-height: 2rem;
    position: relative;
    left: 165px;
    bottom: 15px;
    border: none;
    background: transparent;
}

.color_red {
    color: red;
}

.color_gray {
    color: gray;
}

.favorite_shop {
    font-size: 1.25rem;
    line-height: 1.75rem;
    scroll-margin-bottom: 0.5rem;
    scroll-margin-top: 1rem;
}

.reserve_situation {
    font-size: 1.25rem;
    line-height: 1.75rem;
    scroll-margin-bottom: 0.5rem;
    scroll-margin-top: 1rem;
    padding-bottom: 16px;

}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .6;
    display: none;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}



.modal {
    width: 65%;
    height: 80%;
    border: 1px solid #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: none;
}

.modal p {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 14px;
}

.modal-close__wrap {
    position: absolute;
    right: 40px;
    top: 20px;
}

.modal-close {
    background: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 28px;
    display: block;
    height: 28px;
    font-size: xxx-large;
}

.modal-close span {
    position: relative;
    width: 100%;
    height: 1px;
    background: black;
    display: block;
}

.modal-close span:nth-child(1) {
    transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
    transform: rotate(-45deg);
}

.modal-open {
    cursor: pointer;
    background: orange;
    border: orange;
    color: #fff;
    padding: 10px 12px;
    border-radius: 0.375rem;
    box-shadow: 2px 2px 4px gray;
    margin-right: 10px;
}


.overlay.open {
    display: block;
}

.modal.open {
    display: block;
    z-index: 100;
    height: 45%;
}

.title {
    padding-right: 50px;
    font-size: x-large;
}

.modal_shop_name {
    font-size: larger;
}

.date time_low {
    display: flex;
    justify-content: space-evenly;
}

.time_low {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.number_low {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.cancel_button {
    font-size: 22px;
    line-height: 1.0rem;
    min-height: 1.7rem;
    border-radius: 1.7rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.3rem;
    padding-right: 1.1rem;
    position: relative;
    border: 2px solid rgb(255 255 255);
    width: 10%;
}

.button_css {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 20px;
}

.change_button {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
}

.date {
    display: flex;
    margin-top: 5px;
    margin-right: 7px;
}


.reserve_content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


.drop_time {
    height: 100%;
}

.drop_number {
    height: 100%;
}


.main_contents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.qr_code_button {
    width: 40px;
    height: 40px;
    border-radius: 0.9rem;
    border: none;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
    margin-right: 10px;
}

.qr_code_button::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/QRcode.jpeg) no-repeat center center / auto 100%;
    background-size: cover;
    display: inline-block;
}

.payment_button {
    width: 40px;
    height: 40px;
    border-radius: 0.9rem;
    border: none;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
    margin-right: 10px;
}


.payment_button::after {
    content: "";
    width: 19px;
    height: 24px;
    background: url(../img/payment.jpeg) no-repeat center center / auto 100%;
    background-size: cover;
    display: inline-block;
}

.reservation_number::before {
    content: "";
    width: 60%;
    height: 60%;
    background: url(../img/time.jpeg) no-repeat center center / auto 90%;
    display: inline-block;
    position: absolute;
    left: -46%;
    top: 23%;
}

.heart {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    display: inline-block;
    position: absolute;
    top: 83%;
    right: 9%;
    width: 14%;
}

.heart_image {
    width: 130%;
    min-height: 21px;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.shop_name {
    padding: 22px;
}


/* レスポンシブ (768px以上)*/
@media screen and (max-width: 767.9px) {

    .main_contents {
        width: 200%;
        flex-direction: column;
    }
    .favorite_page {
        width: 70%;
    }

    .favorite_situation {
        margin-left: 8%;
        width: 57%;
    }
    .card_content {
        width: 85%;
    }
    .favorite_shop {
        margin-left: 6%;
    }
}

@media screen and (max-width: 450.9px) {

    .reservation_number {
        font-size: small;
        margin-left: 30px;
        font-weight: normal;
        color: white;
        position: relative;
        padding-left: 18px;
    }

    .reservation_number::before {
        content: "";
        width: 60%;
        height: 51%;
        background: url(../img/time.jpeg) no-repeat center center / auto 70%;
        display: inline-block;
        position: absolute;
        left: -46%;
        top: 26%;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    margin-right: 5%;
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}