body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

main {
    padding-top: 30px;
    background-color: #f5f5f5;
    height: 82vh;
}

h2 {
    font-size: large;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.register__content {
    text-align: center;
    background-color: #f5f5f5;


}

.form {
    margin: 0 auto;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    font-size: smaller;
    font-weight: 100;
}


.form__input--text input {
    padding: 1px;
    width: 50%;
    height: 45px;
    border: 1.5px solid #808080;
    border-radius: 3px;
    appearance: none;
    background-color: #f5f5f5;
    padding-left: 10px;
}

.form__button {
    margin-top: 20px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #0033CC;
    color: #fff;
    cursor: pointer;

}

.login__link {
    margin-top: 20px;
    text-align: center;
    font-size: small;
    color: #808080;
    padding-top: 1%;
}

.login__link p {
    padding-bottom: 5px;
}

footer {

    width: 100%;
    background-color: white;
    height: 5vh;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

small {
    font-size: 15px;
    font-weight: bold;
}