.text-blue-600 {
    color: blue;
}

.text-gray-200 {
    color: gray;
}

.shop_img {
    height: 30%;
    width: 40%;
}

.error_message {
    color: red;
}
.separate__content {
    width: 100%;
    display: flex;
    gap: 2%;
    margin: 0;
    padding: 0;
    min-height: 73%;
    background-color: #f5f5f5;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.left__side {
    width: 40%;
}

.right__side {
    width: 60%;
}

.left__side{
    position: relative;
    display: inline-block;
}

.left__side::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 350px;
    background-color: d3d3d3;
    position: absolute;
    top: 60px;
    right: 20px;
    }

.card_contents {
    width: 30vh;
    background-color: white;
    border-radius: 6px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    margin-bottom: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.image {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.shop_name {
    padding: 1rem;
    text-align: left;
}

.shop_name_font {
    font-weight: bold;
    font-size: larger;
}

.shop_name_inner {
        font-size: 0.75rem;
        line-height: 1rem;
        padding-top: 5px;
        padding-bottom: 10px;
        position: relative;
        top: 5px;
    }

.card_contents_inner {
    text-align: center;
}

.comment {
    text-align: center;
    font-size: xx-large;
    width: 70%;
    padding: 53px;
}

.submit {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    margin: 10px;
    border: none;
    margin-bottom: 5px;
}

.textarea {
    width: 52vw;
    min-height: 8rem;
    background-color: #f5f5f5;
    border-color: c0c0c0;
    border-width: initial;
    margin-top: 10px;
    }


.comment_p {
    margin-top: 10px;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 10px;
}

.star_box {
    margin: 5px;
    font-size: x-large;
    color: rgb(37 99 235);
}
.star_mark {
    font-size: 300%;
    color: #a09a9a;
}

.content {
    margin: 25px;
}

.review_button {
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 5%;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
    background-color: white;
    border-radius: 20px;
    border: none;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    }


.button {
    margin: 6px;
}

.drop-zone {
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    height: 15vh;
    width: 50vw;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drop-zone.highlight {
    background-color: #f0f0f0;
}


.custom-upload_input {
    display: none;
}

.heart {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    display: inline-block;
    position: absolute;
    top: 84%;
    right: 5%;
    width: 14%;
}

.character__count {
    text-align: right;
    margin-right: 5%;
}

.detail {
    font-size: 0.75rem;
    line-height: 1rem;
    min-height: 1.5rem;
    border-radius: 0.375rem;
    background-color: rgb(37 99 235);
    color: rgb(255 255 255);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    text-decoration: none;
}

.review__image {
    width: 30vw;
    margin: 10px;
}

@media screen and (max-width: 767.9px) {
    .separate__content {
    flex-wrap: wrap;
    margin: auto;
    }

    .left__side {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    .right__side {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    .drop-zone {
        margin: 0 auto;
        width: auto;
    }

    .character__count {
        text-align: center;
    }

    .left__side::after {
        content: none;
    }

    .comment {
        text-align: center;
        font-size: larger;
        width: 100%;
        padding: 7px;
    }
}